[include]
	path = .gitconfig_local
	# machine specific settings
[credential]
	helper = store
[alias]
	a = add
	b = branch
	c = commit
	ca = commit --amend
	cb = checkout -b
	co = checkout
	cp = cherry-pick
	d = diff
	ds = diff --staged
	l = log
	p = push
	pl = pull --prune
	rb = rebase
	s = status
	tree = log --graph --pretty=oneline --abbrev-commit
	undo = reset --hard
	st = stash
	sta = stash apply
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
