!dotfiles/.claude/
dotfiles/.claude/*
!dotfiles/.claude/hooks
!dotfiles/.claude/skills
!dotfiles/.claude/CLAUDE.md
!dotfiles/.claude/settings.json

!dotfiles/.codex/
dotfiles/.codex/*
!dotfiles/.codex/hooks.json
!dotfiles/.codex/config.toml

dotfiles-*/

.venv
venv
*.pyc
.DS_Store
