[include]
	path = .gitconfig_local
	# machine specific settings
[credential]
	helper = store
[alias]
	a = add
	b = branch
	c = commit
	cb = checkout -b
	co = checkout
	d = diff
	ds = diff --staged
	l = log
	pl = pull --prune
	p = push
	s = status
	tree = log --graph --pretty=oneline --abbrev-commit
	undo = reset --hard
