[include]
	path = .gitconfig_local
	# machine specific settings
[branch]
    autoSetupMerge = always
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[credential]
	helper = store
[alias]
	a = add
	b = branch
	c = commit
	ca = commit --amend
	cb = checkout -b
	co = checkout
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	cps = cherry-pick --skip
	d = diff
	ds = diff --staged
	f = fetch
	head = "!git rev-parse --abbrev-ref HEAD"
	l = log
	mg = merge
	mga = merge --abort
	mgc = merge --continue
	p = push
	pl = pull --prune --rebase
	pla = pull --prune --all
	pls = "!git pull --prune --rebase && git submodule update --init --recursive"
	pah = "!git push aobolensk $(git head)"
	poh = "!git push origin $(git head)"
	pr = "!git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1"
	puh = "!git push upstream $(git head)"
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	rv = revert
	rva = revert --abort
	rvc = revert --continue
	rvs = revert --skip
	s = status
	st = stash
	sta = stash apply
	su = submodule update --init --recursive
	tree = log --graph --pretty=oneline --abbrev-commit
	uncommit = reset --soft HEAD~1
	undo = reset --hard
	unstage = restore --staged
	pr = "!git fetch origin pull/$1/head:pr-$1 --force && git checkout pr-$1"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[lfs]
	locksverify = false
[submodule]
	recurse = true
